[submodule "SDKs/bgfx/bgfx"]
	path = SDKs/bgfx/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "SDKs/bgfx/bimg"]
	path = SDKs/bgfx/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "SDKs/bgfx/bx"]
	path = SDKs/bgfx/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "SDKs/sol2/sol2"]
	path = SDKs/sol2/sol2
	url = https://github.com/ThePhD/sol2
